extends layout

block content
	div(class="station-name")
		h1=station
	audio(preload)
		source(src=audiofile,type='audio/wav')
	div(class="playpause")
		img(id="play",style="display:none",src="/images/play.svg")
		img(id="pause",src="/images/pause.svg")
	h2(class="song-title" id="song-title")=songname
	progress(value="0",max="100")
	div(id="spacer")
