extends layout

block content
	div(class="station-name")
		h1=station
	audio(preload)
		source(src="/file.opus",type='audio/ogg; codecs="opus"')
		source(src="/file.ogg",type='audio/ogg; codecs="vorbis"')
		source(src="/file.mp3",type='audio/mp3; codecs="mp3"')
	div(class="playpause")
		img(id="play",style="display:none",src="/images/play.svg")
		img(id="pause",src="/images/pause.svg")
	h2(class="song-title") The final Count down
	progress(value="50",max="100")
	div(id="spacer")
