@import url("http://fonts.googleapis.com/css?family=Istok+Web:400,400italic");

html, body {
     color: white;
     font-family: 'Istok Web',sans-serif;
     height: 100%;
     margin: 0px;
     padding: 0px;
     text-shadow: 1px 1px 5px #115577;
     font-size: 12pt;
}

html {
     box-shadow: 0px 0px 27px #115577 inset;
     background-color: #4968EF;
}

body {
     -webkit-align-items: center;
     align-items: center;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
}

#menu {
     position: fixed;
     top: 0px;
     left:0px;
     margin: auto ;
     width: 100%;
     height: 40px;
}

#inpute {
     height: 40px;
     width: 80%;
     font-size: 20px;
     line-height: 40px;
     text-align: center;
     background: none;
     border-color: #fff;
     border-left: none;
     color:#fff;

}

#presse {
     height: 40px;
     width: 20%;
     top:0px;
     position:absolute;
     border-radius: 0px;
     border-left: 0;
     border-right: 0;
     border-color: #fff;
     font-size: 20px;
     padding: 0;
     color:#fff;
     text-shadow: 1px 1px 5px #115577;
}

#presse:active {
     color: #4968EF;
     background-color: #fff;
     text-shadow: none;
}

#table
{
     position:fixed;
     top:40px;
     width:100%;
     left:0;
}

#searche {
     padding:0;
     margin:0;
}


input {
    -webkit-appearance: none;
    border-radius: 0;
}

li {
     height:40px;
     border-bottom: 1px solid #fff;
     list-style-type: none;
     width:100%;
     line-height: 40px;
     font-size: 32px;
     left:0;
     text-align: center;
}

li:active {
     color: #4968EF;
     background-color: #fff;
     text-shadow: none;
}


::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}