@import url("http://fonts.googleapis.com/css?family=Istok+Web:400,400italic");

html, body {
    color: #FFFFFF;
    font-family: 'Istok Web',sans-serif;
    font-size: 12pt;
    height: 100%;
    margin: 0;
    padding: 0;
	text-align: center;
}

html {
	background-color: #4968EF;
}

body {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

#menu {
	display: -webkit-flex;
	display: flex;
}

#inpute {
	background-color: transparent;
	border: 1px solid white;
	border-width: 0 1px 1px 0;
    color: white;
    -webkit-flex-grow: 8;
    flex-grow: 8;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
	padding: 0.3em;
}

#presse {
     background-color: transparent;
	border-color: #FFFFFF;
    border-radius: 0;
    border-style: solid;
    border-width: 0px 0px 1px 0;
    color: #FFFFFF;
    cursor: pointer;
    flex-grow: 2;
    font-size: 20px;
    height: 40px;
    padding: 0;
	margin: 0;
}

#presse:hover, li:hover {
     color: #4968EF;
     background-color: #fff;
     text-shadow: none;
}

#presse:active, li:active {
	color: #4968EF;
	background-image: linear-gradient(to bottom, silver, white);
}

#table {
    flex-grow: 1;
    overflow-y: auto;
}
#searche {
    margin: 0;
    padding: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

li {
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    left: 0;
    line-height: 40px;
    list-style-type: none;
    text-align: left;
	padding: 0 0.3em;
}

@media (max-width: 800px) {
	html, body {
		color: #fff;
		text-shadow: 1px 1px 5px #115577;
	}

	html {
		 box-shadow: 0px 0px 27px #115577 inset;
	}

	::-webkit-input-placeholder {
		color:    #fff;
	}
	:-moz-placeholder {
		color:    #fff;
	}
	::-moz-placeholder {
		color:    #fff;
	}
	#presse {
		text-shadow: 1px 1px 5px #115577;
	}
}
@media (min-width: 800px) {

	body {
		background-color: #FFFFFF;
		border-radius: 0.5em;
		box-shadow: 0 0 27px #115577;
		height: calc(100% - 2em);
		left: 25%;
		position: relative;
		top: 1em;
		width: 50%;
	}
	html, body {
		color: #4968EF;
	}
	*::-moz-placeholder {
		color: #4968EF;
	}

	::-webkit-input-placeholder {
		color:    #4968EF;
	}
	:-moz-placeholder {
		color:    #4968EF;
	}
	::-moz-placeholder {
		color:    #4968EF;
	}

	#inpute {
		border: 1px solid #4968EF;
		border-width: 0 1px 1px 0;
		color: #4968EF;
	}

	#presse {
	    color: #4968EF;
		border-color: #4968EF;
	}

	li {
		border-color: #4968EF;
	}


	#presse:hover, li:hover {
		 color: white;
		 background-color: #4968EF;
		 text-shadow: none;
	}

	#presse:active, li:active {
		color: white;
		background-image: linear-gradient(to bottom, #3958dF, #4968EF);
	}
}

