@import url("http://fonts.googleapis.com/css?family=Istok+Web:400,400italic");

html, body {
     color: white;
     font-family: 'Istok Web',sans-serif;
     height: 100%;
     margin: 0px;
     padding: 0px;
     text-shadow: 1px 1px 5px #115577;
     font-size: 12pt;
     text-align: center;
}

html {
     box-shadow: 0px 0px 27px #115577 inset;
     background-color: #4968EF;
}

body {
     -webkit-align-items: center;
     align-items: center;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
}

.playpause {
     -webkit-align-items: center;
     -webkit-align-self: center;
     align-items: center;
     align-self: center;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-flex-grow: 4;
     flex-grow: 4;
     width: 50%;
}
.playpause > img {
     width: 100%;
}

progress {
     background-color: #0E142E;
     border: 0px none;
     height: 3px;
     width: calc(100% - 30px);
}
progress::-webkit-progress-bar {
     background-color: #0E142E;
}

progress::-moz-progress-bar {
     background-color: white;
     box-shadow: 0px 0px 5px white;
}

progress::-webkit-progress-value {
     background-color: white;
     box-shadow: 0px 0px 5px white;
}

@media screen and (orientation:portrait) {
	.station-name {
		 margin: 0px;
		 padding: 1.5em 0px 0.5em;
	}

	#spacer {
		 -webkit-flex-grow: 3;
		 flex-grow: 3;
	}

	.song-title {
		 padding: 1em;
	}
}

@media screen and (orientation:landscape) {
	body {
		width: 50%;
    	justify-content: space-around;
    	-webkit-justify-content: space-around;
	}
	.playpause {
		align-items: center;
		display: flex;
		-webkit-align-items: center;
		display: -display-flex;
		height: 100%;
		-webkit-justify-content: center;
		justify-content: center;
		left: 50%;
		position: absolute;
		top: 0;
		width: 50%;
	}
	.playpause > img {
		height: 75%;
		width: auto;
	}
	.station-name {
		-webkit-align-items: center;
		display: -webkit-flex;
		align-items: center;
		display: flex;
	}
}

#menu {
     position: fixed;
     top: 0px;
     left:0px;
     margin: auto ;
     width: 100%;
     height: 40px;
}

#inpute {
     height: 40px;
     width: 80%;
     font-size: 20px;
     line-height: 40px;
     text-align: center;
     background: none;
     border-color: #fff;
     border-left: none;
     color:#fff;

}

#presse {
     height: 40px;
     width: 20%;
     top:0px;
     position:absolute;
     border-radius: 0px;
     border-left: 0;
     border-right: 0;
     border-color: #fff;
     font-size: 20px;
     padding: 0;
     color:#fff;
     text-shadow: 1px 1px 5px #115577;
}

#presse:active {
     color: #4968EF;
     background-color: #fff;
     text-shadow: none;
}

#table
{
     position:fixed;
     top:40px;
     width:100%;
     left:0;
}

#searche {
     padding:0;
     margin:0;
}


input {
    -webkit-appearance: none;
    border-radius: 0;
}

li {
     height:40px;
     border-bottom: 1px solid #fff;
     list-style-type: none;
     width:100%;
     line-height: 40px;
     font-size: 32px;
     left:0;
     text-align: center;
}

li:active {
     color: #4968EF;
     background-color: #fff;
     text-shadow: none;
}


::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
::-moz-placeholder {
    color:    #fff;
}
